<div class="container">
  <button
    mat-mini-fab
    style="margin-bottom: 0.5rem"
    color="primary"
    routerLink="/makaleler"
  >
    <mat-icon aria-label="label">arrow_back</mat-icon>
  </button>
  <div></div>
  <h1 style="margin-bottom: 0.2rem">{{ makale?.makaleBaslik }}</h1>
  <small
    >Yazar:{{ makale?.makaleYazarAdi }} Tarih:{{
      makale?.makaleDuzTarih | date: "dd/mm/yy hh:mm"
    }}
  </small>
  <div style="margin-bottom: 1rem"></div>
  <p>{{ makale?.makaleIcerik }}</p>
  <hr />
  <app-yorum></app-yorum>
</div>
