<mat-toolbar color="primary">
  <h3>{{ dialogBaslik }}</h3>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Makale Baslik</mat-label>
      <input
        matInput
        placeholder="Makale Baslik"
        formControlName="makaleBaslik"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Makale Icerik</mat-label>
      <textarea
        matInput
        placeholder="Makale Icerik"
        formControlName="makaleIcerik"
        required
        style="height: 120px"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Makale Image Url</mat-label>
      <input
        matInput
        placeholder="Makale Img Ul"
        formControlName="makaleImgUrl"
        required
      />
    </mat-form-field>
  </form>
</div>

<button
  mat-raised-button
  color="primary"
  (click)="dialogRef.close(frm.value)"
  [disabled]="frm.invalid"
>
  Kaydet</button
>&nbsp;
<button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button
>&nbsp;
